

<div class="block ">
  <div class="centered ">
    <div class="card" style="width:400px">
      <%= render 'form', style: "margin-left: 25px;"%>
    </div>
      <%= render @postings %>
  </div>
</div>
