

 <% if user_signed_in? %>

   <div style="margin-top: 80px">
     <h1 class="h1">PUBLICAÇÕES</h1>
       <div class="" style="margin-left: 45px">

         <div >
                <ul class="nav">
                  <li class="margin-right">
                    <p><strong>
                      <%= @postings.count %></strong> publicações
                     </p>
                  </li>
                  <li class="margin-right">
                    <p ><strong> 300 </strong> seguidores </p>
                  </li>
                  <li class="margin-right">
                    <p><strong> 250 </strong> seguindos
                     </p>
                  </li>
                </ul>
       </div>
   </div>
   <div class="">

     <div class="segundo " id="meio" style="background-color=#FFF">
       <div class="" >
       <%= render @postings%>
     </div>


     <% else %>
<div class="row">
  <div class="primeiro" >
    <div class="publicacao">
         Entre e faça parte desta rede social animei
       </div>
       <div class="">
       <div class="segundo " id="meio" style="background-color=#FFF">

         <%= render @postings%>

    <% end %>
    </div>
  </div>
</div>

</div>
</div>
