

 <% if user_signed_in? %>
     <h1 class="h1">PUBLICAÇÕES</h1>
   <div class="row">
       <div class="col-4">
       </div>
       <div class="col-8">

         <div >
                <ul class="nav">
                  <li class="margin-right">
                    <p><strong>
                      <%= @postings.count %></strong> publicações
                     </p>
                  </li>
                  <li class="margin-right">
                    <p ><strong> 300 </strong> seguidores </p>
                  </li>
                  <li class="margin-right">
                    <p><strong> 250 </strong> seguindos
                     </p>
                  </li>
                </ul>
       </div>
   </div>
   <div class="block ">
     <div class="centered ">
   <div class="container">
     <div class="row">
       <%= render @postings%>
     </div>
     <% else %>
       <div class="row">
         Entre e faça parte desta rede social animei
       </div>
     <div class="row">
       <%= render @postings%>
     </div>
    <% end %>
  </div>
</div>
</div>
